---
import qr1 from "../assets/qr1.png";
import qr2 from "../assets/qr2.png";
---
<div>
    <h2>CERTIFICACIONES</h2>
    <hr>
    <div class="cursos-imagenes">
        <div class="cursos">
            <p>CERTIFICATION SQL FROM CERO TO ADVANCED</p>
            <p class="descripcion">Certificado Curso OpenWebinars</p>
        </div>
        <img src={qr1.src} alt="QR Certificación Curso">
    </div>
    <br>
    <div class="cursos-imagenes">
        <div class="cursos">
            <p>CERTIFICATION PHP: EXPANDING CONCEPTS</p>
            <p class="descripcion">Certificado Curso OpenWebinars</p>
        </div>
        <img src={qr2.src} alt="QR Certificación Curso">
    </div>
</div>
<style>
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 25px;
        max-width: 705px;
        background-color: white;
        margin-right: 10px;
    }
    h2{
        font-weight: 400;   
    }
    hr{
        margin-bottom: 20px;
        height: 5px;
        background-color: #2B78B4;
    }
    .cursos{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        color: #2B78B4;
        font-weight: 600
    }
    .cursos-imagenes{
        display: flex;
        justify-content: space-between;
    }
    .descripcion{
        margin-left: 35px;
        margin-bottom: 5px;
    }
</style>