<div>
    <h2>EXPERIENCIA LABORAL</h2>
    <hr>
    <div class="fechas">
        <p>2024-2025</p>
        <p>AUXILIAR TÉCNICO DE INFORMÁTICA</p>
    </div>
    <div>
        <p>Auxiliar en el departamento de soporte IT, algunas de mis responsabilidades fueron:</p>
        <ul>
            <li>      Realización de maquetado de equipos para otros empleados. Explicando los
            softwares a utilizar y las funcionalidades del equipo.</li>
            <li>     Automatización de preventivos y tareas rutinarias. Tanto de tareas diarias,
            semanales, quincenales y mensuales.</li>
            <li>     Soporte técnico a empleados ante problemas de funcionalidad o de rotura de
            equipos.</li>
            <li>     Gestión del inventario, realización de solicitudes, pedidos, guardado de los
            equipos que se podían utilizar y reciclaje de los equipos obsoletos.</li>
        </ul>
    </div>
    <div class="fechas">
        <p>2023-2025</p>
        <p>AUXILIAR DE RESTAURACIÓN</p>
    </div>
    <div class="texto-descriptivo">
        <p>Auxiliar en la zona de restauración, las responsabilidades que tuve fueron:</p>
        <ul>
            <li>      Atención al cliente, dentro de restaurante o en puesto, a las afueras del
                        restaurante.</li>
            <li>     Servicio de barra al cliente, con manejo de TPV y cobro al mismo.</li>
            <li>     Limpieza e higienización de mi puesto de trabajo, antes, durante y después del
                        servicio.</li>
            <li>     Gestión del inventario, realización de solicitudes, pedidos, guardado de los
            equipos que se podían utilizar y reciclaje de los equipos obsoletos.</li>
        </ul>
    </div>
    <div class="fechas">
        <p>2021-2023</p>
        <p>MOZO DE ALMACÉN Y LIMPIEZA</p>
    </div>
    <div class="texto-descriptivo">
        <p>Colocación del producto en el almacén y limpieza del mismo. Algunas tareas fueron:</p>
        <ul>
            <li>      Carga y descarga del pedido en el almacén.</li>
            <li>     Empaquetado, colocación e inventariado de los productos tratados en el almacén.</li>
            <li>     Soporte técnico a empleados ante problemas de funcionalidad o de rotura de
            equipos.</li>
            <li>     Limpieza de máquinas, utensilios y desinfección de los mismos, como última parte del servicio.</li>
        </ul>
    </div>
</div>
<style>
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 25px;
        margin-right: 10px;
        max-width: 705px;
        background-color: white;
    }
    h2{
        font-weight: 400;   
    }
    hr{
        margin-bottom: 20px;
        height: 5px;
        background-color: #2B78B4;
    }
    ul{
        list-style: "-";
        margin-bottom: 10px;
    }
    li{
        padding-left: 30px;
        text-align: justify;
    }
    .fechas{
        display: flex;
        margin-left: 10px;
        justify-content: space-between;
        color: #2B78B4;
        font-weight: 400;
    }
</style>